<mat-card>
  <mat-card-header>
    <div [hidden]="!error">
      <h2>There was problem logging in. Please try again.</h2>
    </div>
  </mat-card-header>
  <mat-card-content>
    <form #loginForm="ngForm" (submit)="login(loginForm.value)">
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Input" [(ngModel)]="credentials.username" #username name="username">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Password" [(ngModel)]="credentials.password" #password name="password">
        </mat-form-field>

        <button mat-raised-button type="submit">Submit</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
